@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*headings and logo*/


#logo {
    font-family: Pacifico, sans-serif;
    font-size: 150%;
    margin-left: 20px;
    height: 80px;
}

#logo:hover {
    transform: scale(1.1);
    transition: transform 400ms ease-in-out;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ccc3b9;
    height: 100px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 100%;
}

#menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu li {
    margin: 0 20px;
    transition: transform 400ms ease-in-out;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu li:hover {
    transform: scale(1.2);
}

#profile-pic {
    width: 100%;
    height: 500px;
    margin: 0;

}

/* hero and motto*/

#hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("../images/background-macrame.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#moto {
    color: white;
    width: 40%;
    height: auto;
    margin: 20px 80px;
    background-color: #e3d9cfd4;
    border-radius: 10%;
    font-size: 100%;
    font-family: Pacifico,
        sans-serif;
    text-align: center;
    align-items: center;
}

#hero-pic {
    width: 25%;
    margin: 0 20px;
    opacity: 0.9;
}

/*About Us*/

#about-us {
    background-color: #e3d9cf;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 100px 0;
    text-align: center;
}

#about-us h2 {
    padding-bottom: 50px;
    font-size: 50px;
}

#about-us p {
    padding-bottom: 30px;
    font-size: 20px;
}

/*Our products*/

#our-products {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    background-color: #ccc3b9;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.wall-hangers {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 0 10px 50px;
    width: 45%;
}

.plant-hangers {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 50px 10px 0;
    width: 45%;
}

.photo {
    max-width: 30%;
    padding: 10px 10px;
}

.photo img {
    width: 100%;
    height: 100%;
}