@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

header {
    margin: 0;
}

h1 {
    font-family: Pacifico, sans-serif;
    font-size: 400;
    background-color: #FFA07A;
    padding: 10px;
}