/*google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


/*Initial styling*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

main {
    flex: 1 0 auto;
}

hr {
    border-top: 8px dotted #495b55;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    background-color: #eed8ca;
    width: 10%;
    margin: auto;
    padding: 10px 0 20px;

}

.break-line {
    background-color: #eed8ca;
}


h1,
h2,
h3 {
    font-family: "Bad Script", Arial, Helvetica, sans-serif;
    font-size: 150%;
}

/*headings and logo*/


#logo {
    font-family: "Bad Script", Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin-left: 30px;
    height: 80px;
}

#logo:hover {
    transform: scale(1.1);
    transition: transform 400ms ease-in-out;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #8f6e56;
    height: 100px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 100%;
}

#menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu li {
    margin: 0 20px;
    transition: transform 400ms ease-in-out;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu li:hover {
    transform: scale(1.2);
}

.active {
    border-bottom: 1px solid white;
}

/* hero and motto*/

#hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 650px;
    background-image: url("../images/background-macrame.jpg");
    background-repeat: no-repeat;
    background-position: 45% 15%;
    background-size: cover;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: backwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: translate(0, -25px);
    }

    to {
        transform: translate(0);
    }
}


#bg {
    background-image: url("../images/background-macrame.jpg");
    background-repeat: no-repeat;
    background-position: 45% 15%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic {

    width: 80%;
    margin: 0 20px;
    border-radius: 50%;

}



#moto {
    color: #495b55;
    width: 25%;
    height: auto;
    margin: 40px 80px;
    background-color: #eed8ca;
    border-radius: 10%;
    font-size: 20px;
    font-family: "Bad Script",
        Arial, Helvetica, sans-serif;
    text-align: center;

}

#hero-pic {
    width: 25%;
    margin: 0 20px;

}

/*About Us*/

#about-us {
    background-color: #eed8ca;
    color: #495b55;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 100px 0;
    text-align: center;
}

#about-us h2 {
    padding-bottom: 50px;
    font-size: 50px;
}

#about-us p {
    padding-bottom: 30px;
    font-size: 20px;
}

/*Our products*/
#products {
    background-color: #eed8ca;
    color: #495b55;
    text-align: center;
    padding: 50px;
    font-size: 50px;
}


#our-products {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 30px;
    width: 100%;
    justify-content: space-between;
    background-color: #eed8ca;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #495b55;
    font-size: 20px;
}

#our-products h3 {
    width: 100%;
    padding: 10px 0px 20px;
    text-align: center;
}

.wall-hangers {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 25px 10px 25px;
    width: 50%;
    justify-content: center
}


.plant-hangers {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 25px 10px 25px;
    width: 50%;
    justify-content: center
}

.photo {
    max-width: 30%;
    padding: 10px 10px;
    position: relative;

}

.photo img {
    width: 100%;
    height: 100%;

}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.photo:hover .middle {
    opacity: 1;
}

.photo:hover>a {
    opacity: 0.6;
}

.text {
    color: white;
    font-size: 60%;
    padding: 10% 0 20%;
}

.text2 {
    color: white;
    font-size: 70%;
    padding: 0 0 15%;
}

.button1 {
    margin-top: 0;
    border-radius: 10%;
    padding: 5% 5%;
    text-align: center;
    font-size: 70%;
    background-color: rgba(96, 95, 95, 0.6);
    color: #fafafa;
    display: block;
}

.button1:hover {
    background-color: #fafafa;
    color: #eed8ca;
}

#enable-link1,
#enable-link2,
#enable-link3,
#enable-link4,
#enable-link5,
#enable-link6,
#enable-link7,
#enable-link8,
#enable-link9,
#enable-link10,
#enable-link11,
#enable-link12,
#enable-link13,
#enable-link14,
#enable-link15 {
    scroll-margin-top: 100px;
}

/* footer */

footer {
    height: 220px;
    background-color: #8f6e56;
    margin: 0;
    position: sticky;
    max-height: 220px;

}

footer p {
    background-color: #8f6e56;
    margin: 0;
    text-align: center;
    color: white;
    padding-bottom: 40px;

}


footer p a {
    color: white;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 0;
    padding: 3%;
    color: white;
}

#back-to-top {
    position: absolute;
    top: 150vh;
    right: 0;
    bottom: 40px;
    width: 2em;
    pointer-events: none;
    z-index: 10;
    font-size: 150%;
}

#back-to-top a {
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 5rem);
}


/*Order form*/

.order-form {
    margin: auto;
    color: #fff;
    background-color: rgba(96, 95, 95, 0.6);
    max-width: 400px;
    padding: 30px;
    border-radius: 10%;

}

.order-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

#fname,
#lname,
#email,
#hang {
    padding-left: 10px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #eed8ca;
}

.order-button {
    margin-top: 20px;
    border-radius: 10%;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #eed8ca;
    color: #495b55;
    display: block;
}

.order-button:hover {
    background-color: #fafafa;
    color: #eed8ca;
}

#wall,
#plant,
#style {
    margin-right: 10px;
}

#describe {
    margin-left: 10px;
}

#home-button {

    padding: 10px 32px 10px 32px;
    margin: 0 auto;
}

#thank-you {
    text-align: center;
}

/* Medium screens */



@media all and (max-width: 873px) {

    #enable-link1,
    #enable-link2,
    #enable-link3,
    #enable-link4,
    #enable-link5,
    #enable-link6,
    #enable-link7,
    #enable-link8,
    #enable-link9,
    #enable-link10,
    #enable-link11,
    #enable-link12,
    #enable-link13,
    #enable-link14,
    #enable-link15 {
        display: none;
        scroll-margin-top: 100px;
        text-decoration: none;
    }

    #enable-link1:target,
    #enable-link2:target,
    #enable-link3:target,
    #enable-link4:target,
    #enable-link5:target,
    #enable-link6:target,
    #enable-link7:target,
    #enable-link8:target,
    #enable-link9:target,
    #enable-link10:target,
    #enable-link11:target,
    #enable-link12:target,
    #enable-link13:target,
    #enable-link14:target,
    #enable-link15:target {
        display: block;

    }

    h1,
    h2,
    h3 {
        font-family: "Bad Script", Arial, Helvetica, sans-serif;
        font-size: 120%;
    }

    #menu {
        justify-content: space-around;
        height: 110px;
    }

    #hero {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        background-image: url("../images/background-macrame.jpg");
        background-repeat: no-repeat;
        background-position: 45% 15%;
        background-size: cover;
    }

    #menu li {
        margin: 0 20px;
        transition: transform 400ms ease-in-out;
        padding-bottom: 10px;
    }

    #moto {
        color: #495b55;
        width: 25%;
        height: auto;
        margin: auto;
        background-color: #eed8ca;
        border-radius: 10%;
        font-size: 100%;
        font-family: "Bad Script",
            Arial, Helvetica, sans-serif;
        text-align: center;

    }

    #hero-pic {
        display: flex;
        justify-content: center;
        width: 35%;
        margin: 30px;

    }

    #about-us {
        background-color: #eed8ca;
        color: #495b55;
        font-family: Arial, Helvetica, sans-serif;
        padding: 60px 50px 0;
        text-align: center;
    }

    #about-us h2 {
        padding-bottom: 30px;
        font-size: 30px;
    }

    #about-us p {
        padding-bottom: 20px;
        font-size: 15px;
    }

    #products {
        background-color: #eed8ca;
        color: #495b55;
        text-align: center;
        padding: 30px;
        font-size: 30px;
    }

    #our-products {
        justify-content: center;
    }

    .wall-hangers {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 10px 25px 10px 25px;
        width: 100%;
        justify-content: center
    }


    .plant-hangers {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 10px 25px 10px 25px;
        width: 100%;
        justify-content: center
    }



}


/* Small screens */
@media all and (max-width: 600px) {

    h1,
    h2,
    h3 {
        font-family: "Bad Script", Arial, Helvetica, sans-serif;
        font-size: 100%;
    }

    #menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #8f6e56;
        height: 200px;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        width: 100%;
    }


    #menu ul {
        flex-direction: column;
        text-align: center;
    }

    #hero {
        height: 400px;
    }

    #logo {
        font-family: "Bad Script", Arial, Helvetica, sans-serif;
        font-size: 150%;
        margin-left: 0;
        height: 60px;
    }

    #moto {
        color: #495b55;
        width: 25%;
        height: auto;
        margin: 40px 80px;
        background-color: #eed8ca;
        border-radius: 10%;
        font-size: 80%;
        font-family: "Bad Script",
            Arial, Helvetica, sans-serif;
        text-align: center;

    }


    #about-us h2 {
        padding-bottom: 25px;
        font-size: 25px;
    }

    #products {
        background-color: #eed8ca;
        color: #495b55;
        text-align: center;
        padding: 25px;
        font-size: 25px;
    }



    .text {
        color: white;
        font-size: 9px;
        padding: 10px 0 0;
    }

    .text2 {
        color: white;
        font-size: 9px;
        padding: 0;
    }

    .button1 {
        margin-top: 5px;
        border-radius: 10%;
        padding: 2px 5px;
        text-align: center;
        font-size: 10px;
        background-color: rgba(96, 95, 95, 0.6);
        color: #fafafa;
        display: block;
    }

    .button1:hover {
        background-color: #fafafa;
        color: #eed8ca;
    }

}